@import "tailwindcss";

@font-face {
  font-family: "Estedad";
  src: url("fonts/woff2/Estedad-Thin.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Estedad";
  src: url("fonts/woff2/Estedad-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Estedad";
  src: url("fonts/woff2/Estedad-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Estedad";
  src: url("fonts/woff2/Estedad-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Estedad";
  src: url("fonts/woff2/Estedad-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Estedad";
  src: url("fonts/woff2/Estedad-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Estedad";
  src: url("fonts/woff2/Estedad-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Estedad";
  src: url("fonts/woff2/Estedad-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Estedad";
  src: url("fonts/woff2/Estedad-Black.woff2") format("woff2");
  font-weight: 900;
}

@theme {
  --font-estedad: "Estedad", sans-serif;
  --breakpoint-xs: 30rem; /*w>480px*/
}
.glass-scrollbar {
  overflow-y: auto;

  /* Firefox */

  scrollbar-color: white transparent;
}

/* width */
.glass-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* background track */
.glass-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* thumb default */
.glass-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 9999px;
  transition: all 0.3s ease;
}

/* thumb hover */
.glass-scrollbar::-webkit-scrollbar-thumb:hover {
  background: pink;
}
.main-flower {
  background: url(images/toDoList/flower.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
